// All blocks will be placed here. If you want to target a specific block, just go to _page.scss
// Recommended sample section class "block block-$block-name", you should always add block as default to specify that it's block.

.events-block {
    position: relative;
    padding-top: 450px;
    padding-bottom: 295px;
    background: url('/img/events.jpg') no-repeat;
    svg {
        position: absolute;
        top: 45%;
        left: 6%;
    }
    .row {
        margin: 0 -7.5px;
        .item {
            padding: 0 7.5px;
        }
    }
    .item {
        .date {
            font-family: 'Jelle';
            border-top-left-radius: 35px;
            border-bottom-left-radius: 35px;
        }
        .num {
            font-size: 85px;
            font-weight: 700;
        }
        .month {
            font-size: 44px;
            font-weight: 700;
        }
        .details {
            padding: 60px 15px 40px;
            background-color: $white;
            border-top-right-radius: 35px;
            border-bottom-right-radius: 35px;
            font-family: $Quicksand;
            font-size: 27px;
            font-weight: 700;
        }
        .details .read-more {
            font-size: 15px;
            font-weight: normal;
        }
        .basic {
            color: $navyblue;
        }
    }
}