// Custom CSS or also known as Overrides, if you want to override some bootstrap classes like "form-control" then place your css here.
html {
    position: relative;
    min-height: 100%;
    body {
      font-family: $Quicksand;
    }
}

.scrollTop {
  position: fixed;
  z-index: 500;
  right: 20px;
  background-image:linear-gradient(#ff7878, #eb5959);
  color: #fff;
  border-radius: 35%;
  border: none;
  height: 50px;
  width: 50px;
  transition: .3s;
  opacity: 1;
  outline: none !important;
  display: none;
  cursor: pointer;

  &.scrollTop{
    bottom: 15%;
  }

  &:hover {
    background-color: #000;
  }

  i {
    color: #fff;
  }
  img {
    transform: rotate(-90deg);
  }
}

.processing-page-load {
  overflow: hidden;
  background-color: #fff;
  pointer-events: none;

  .main-wrapper, .main-footer {
    opacity: 0;
  }
}

.page-loading {
  display: none;
  opacity: 0;

  &.page-loading-fixed {
    position: fixed;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    z-index: 3;
  }

  &.page-loading-absolute {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    z-index: 3;
  }

  p {
    letter-spacing: .05ex;
    font-weight: 300;
    color: #676767;
    margin: 10px 0;
  }

  &.page-loading-show {
    display: block;
    opacity: 1;
  }
}


