.footer {
    border-top: 1px solid #ccc;
    min-height: 60px;
    .container-fluid {
        padding: 50px 83px;
    }
    .basic {
        font-size: 14px;
        margin: 0;
    }
    .mb30 {
        margin-bottom: 30px;
    }
    a.text-orange {
        text-decoration: none;
        transition: all ease 300ms;
        &:hover {
            color: $green;
            transition: all ease 300ms;
        }
    }
    .fa {
        margin-top: 10px;
        font-size: 26px;
        transition: all ease 300ms;
        &:hover {
            color: #044e01;
            transition: all ease 300ms;
        }
    }
    .credits {
        border-top: 1px solid #ccc;
        li {
            position: relative;
            &:after {
                content: "|";
                margin: 0 10px;
            }
            &:last-child:after {
                content: "";
            }
        }
    }
}