.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 0 !important;
    transition: all ease 300ms;
    .user-menu {
        max-height: 60px;
        padding: 0 83px;
        transition: all ease 300ms;
        img {
            max-height: 40px;
            transition: max-height .4s .1s;
        }
        .nav-item .nav-link {
            font-size: 14px;
            padding: 18px 0 !important;
        }
        .dropdown-menu .nav-link {
            padding: 8px !important;
        }
    }
}
.user-menu {
    z-index: 2;
    background-color: $white;
    padding: 0 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
    transition: all ease 300ms;

    svg {
        height: 5px;
        fill: $blue;
        transition: all ease 300ms;
    }

    .nav-item .nav-link {
        font-size: 18px;
        font-weight: 700;
        color: $blue;
        font-family: $Quicksand;
        text-transform: uppercase;
        transition: all ease 300ms;

        
        &:hover,
        &:focus,
        &:active {
            color: $yellow;
            transition: all ease 300ms;
            svg {
                fill: $yellow;
                transition: all ease 300ms;
            }
            
        }
    }
    .nav-item.active .nav-link {
        color: $yellow;
        &:after {
            opacity: 1;
            width: 20px;
        }
        svg {
            fill: $yellow;
        }
    }
    .nav-item.active .dropdown-menu .nav-link {
        color: $blue;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: 0;
    }

    .navbar-toggler span {
        display: block;
        background-color: $blue;
        height: 1px;
        width: 25px;
        margin-top: 8px;
        margin-bottom: 8px;
        transform: rotate(0deg);
        position: relative;
        left: 0;
        opacity: 1;
    }

    .navbar-toggler span:nth-child(1),
    .navbar-toggler span:nth-child(3) {
    transition: transform .35s ease-in-out;
    }

    .navbar-toggler:not(.collapsed) span:nth-child(1) {
        left: 0;
        top: 12px;
        transform: rotate(135deg);
        opacity: 0.9;
    }

    .navbar-toggler:not(.collapsed) span:nth-child(2) {
        height: 12px;
        visibility: hidden;
        background-color: transparent;
    }

    .navbar-toggler:not(.collapsed) span:nth-child(3) {
        left: 0;
        top: -16px;
        transform: rotate(-135deg);
        opacity: 0.9;
    }
    .dropdown:hover>.dropdown-menu {
        display: block;
        margin-top: 0;
        background: #f2f2f2;
        .nav-link {
            transition: all ease 300ms;
            &:hover,
            &:focus,
            &:active {
                background: $blue;
                color: $white;
                outline: none;
                box-shadow: none;
                transition: all ease 300ms;
            }
            &:after {
                display: none;
            }
        }
        
    }  
    .dropdown-menu {
        border: none;
        padding: 0;
        .nav-link {
            font-size: 14px;
        }
    }  
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-bottom: 100px;
    text-align:center;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  
  }

  .user-menu .sidenav .nav-item .nav-link {
    font-size: 14px;
    padding: 18px 0 !important;
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .for-mobile {
    display: none;
}
  
