// Your mixin's here.

//Pallete
@mixin theme-colors__primary {
    background-color: themeColors(primary);
}


//Buttons
@mixin btn-default {
    margin-bottom: 5px;
    background-color: buttonColor(primary);
    border: 1px solid buttonColor(primary);
    color: $white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 18px;
    transition: all ease 300ms;
    &:hover {
        box-shadow: none;
        outline: none;
        background-color: transparent;
        color: buttonColor(primary);
        transition: all ease 300ms;
    }
}
@mixin btn-secondary {
    margin-bottom: 5px;
    background-color: buttonColor(secondary);
    border: 1px solid buttonColor(secondary);
    color: $white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 18px;
    transition: all ease 300ms;
    &:hover {
        box-shadow: none;
        outline: none;
        background-color: transparent;
        color: buttonColor(secondary);
        transition: all ease 300ms;
    }
}


//Responsive
@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}
@mixin for-tablet-portait-only {
    @media (min-width: 600px) and (max-width: 899px) { @content; }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}
@mixin for-tablet-landscape-only {
    @media (min-width: 900px) and (max-width: 1199px) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}
@mixin for-desktop-only {
    @media (min-width: 1200px) and (max-width: 1799px) { @content; }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}