// This page will be used for Main pages like "Services", recommended body class will be ".page-$page-name"
.page-about-company {
    .content-block {
        margin-top: -17%;
        position: relative;
        padding-bottom: 10%;
        padding-top: 5%;
        background: url(/img/about/our-company-bg.png) no-repeat;
        .container-fluid {
            padding-top: 20% !important;
        }
        .plane {
            position: absolute;
            top: 20%;
            left: 0;
        }
        ul {
            padding-left: 20px;
        }
    }
    .mv-block {
        margin-top: -10%;
        background-color: #eff1f5;
        padding-bottom: 200px !important;

        .carousel-indicators {
            bottom: -50%;
            li {
                width: 12px;
                height: 13px;
                border-radius: 100%;
                background-color: transparent;
                border: 1px solid $red;
                border-top: none;
                border-bottom: none;
            }
            li.active {
                background-color: $red;
            }
        }
    }
    .values-block {
        .circle {
            padding: 5%;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center
        }
    }
}
