// This page will be used for Main pages like "Services", recommended body class will be ".page-$page-name"
.page-about-company {
    .content-block {
        margin-top: -17%;
        position: relative;
        padding-bottom: 10%;
        padding-top: 5%;
        background: url(/img/about/our-company-bg.png) no-repeat;
        .container-fluid {
            padding-top: 20% !important;
        }
        .plane {
            display: none !important;
            position: absolute;
            top: 20%;
            left: 0;
        }
        p {
            color: $white;
            font-size: 18px;
        }
        ul {
            padding-left: 20px;
            li {
                color: $white;
                font-size: 18px;
            }
        }
    }
    .mv-block {
        margin-top: -10%;
        background-color: #eff1f5;
        padding-top: 10%;
        padding-bottom: 200px !important;

        .carousel-indicators {
            bottom: -50%;
            li {
                width: 12px;
                height: 13px;
                border-radius: 100%;
                background-color: transparent;
                border: 1px solid $red;
                border-top: none;
                border-bottom: none;
            }
            li.active {
                background-color: $red;
            }
        }
    }
    .values-block {
        .circle {
            padding: 5%;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center
        }
    }
}

.page-about-team {
    .content-block {
        margin-top: -15%;
        position: relative;
        padding-bottom: 10%;
        padding-top: 40%;
        background: url(/img/about/aust.png) no-repeat;
    }
}

.page-about-linkages {
    .card {
        border: none;
        border-radius: 0;
        border-top-left-radius: 12px !important;
        border-top-right-radius: 12px !important;
        z-index: 1;
        background: transparent;
    }
    .card-header {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        cursor: pointer;
        .title {
            display: inline-block;
            margin-top: 3px;
        }
        .img-arrow {
            margin-top: 5px;
            transform: rotate(90deg);
            transition: transform .8s ease-in-out;
        }
        .img-arrow.rotateme {
            transform: rotate(-90deg);
            transition: transform .8s ease-in-out;
        }
    }
    .card-body {
        border-bottom-left-radius: 35px !important;
        border-bottom-right-radius: 35px !important;
    }
    .linkages {
        background-repeat: no-repeat;
        background-position: top;
        padding-bottom: 20px;
        padding-top: 10%;
        .for-image {
            position: absolute;
            top: 7%;
            right: 1%;
        }
    }
    .link-Australia {
        background: url(/img/about/aust.png) no-repeat;
    }
    .link-Canada {
        background: url(/img/about/canada.png) no-repeat;
        .for-image {
            top: 6%;
        }
    }
    .link-New {
        background: url(/img/about/new-zea.png) no-repeat;
    }
    .item {
        .card-body {
            padding: 12%;
            background: $white;
            border-radius: 25px !important;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
    }
}

.page-services {
    .banner-block {
        z-index: 1;
        .container-fluid {
            padding-left: 135px;
        }
    }
}
.services-visa {
    .content-block {
        margin-top: -14.5%;
        position: relative;
        padding-top: 30%;
        background: url(/img/services/visa-bg.png) no-repeat;
    }
}
.tourist-visa {
    .content-block {
        margin-top: -14.5%;
        position: relative;
        padding-top: 20%;
        background: url(/img/services/tour-bg.png) no-repeat;
        .card {
            background: transparent;
            border: none;
            img {
                border-top-left-radius: 35px;
                border-top-right-radius: 35px;
            }
            .card-footer {
                border-bottom-left-radius: 35px !important;
                border-bottom-right-radius: 35px !important;
            }
        }
        .row {
            margin: 0 -7.5px;
            > div {
                padding: 0 7.5px;
            }
        }
    }
}

.page-courses {
    .search-courses {
        background: url(/img/courses/bg.png) no-repeat;
        background-position: bottom;
        height: 94vh;
        display: flex;
        align-items: center;
        padding-top: 15%;
        .form-control {
            height: 56px;
            border-radius: 35px;
            font-size: 18px;
            background: $white;
            position: relative;
        }
        .intro {
            padding: 0 300px;
            position: relative;
            .img-papers {
                position: absolute;
                top: -180%;
                left: 5%;
            }
            .img-book {
                width: 20%;
                position: absolute;
                top: -195%;
                right: 10%;
            }
        }
    }
    .search-results {
        margin-top: -5%;
    }
}

.page-destination {
    .banner-block {
        z-index: 1;
    }
    .content-block {
        margin-top: -14%;
        position: relative;
        padding-top: 20%;
        background: url(/img/destination/bg.png) no-repeat;
        padding-bottom: 5%;
        .item {
            background-color: $white;
            padding: 2%;
            border-radius: 35px;
            box-shadow: 0px 3px 6px -3px rgba(0, 0, 0, 0.75);
            max-width: 300px;
        }
    }
    .for-text {
        position: absolute;
        top: 10%;
        left: 10%;
    }
    .slider-block {
        img {
            width: 100%;
            max-height: 925px;
            object-fit: cover;
        }
    }
    .more-info {
        background-color: #eff1f5;
        .card {
            border: none;
            border-top-left-radius: 12px !important;
            border-top-right-radius: 12px !important;
            z-index: 1;
            background: transparent;
        }
        .card-header {
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            cursor: pointer;
            .title {
                display: inline-block;
                margin-top: 3px;
            }
            .img-arrow {
                margin-top: 5px;
                transform: rotate(90deg);
                transition: transform .8s ease-in-out;
            }
            .img-arrow.rotateme {
                transform: rotate(-90deg);
                transition: transform .8s ease-in-out;
            }
        }
        .card-body {
            border-bottom-left-radius: 35px !important;
            border-bottom-right-radius: 35px !important;
            background-color: $white;
            padding: 30px;
        }
    }
}

.be-part-of-our-team {
    .content-block {
        margin-top: -15%;
        position: relative;
        padding-top: 30%;
        background: url(/img/apply/bg.png) no-repeat;
    }
    .jobs .card-body {
        .btnread-more {
            position: absolute;
            top: 25px;
            right: 10px;
        }
        ul {
            padding-left: 20px;
        }
    }
}

.become-our-client {
    .control {
        display: inline-block;
        position: relative;
        padding-left: 30px;
        margin-right: 15px;
        cursor: pointer;
        font-size: 14px;
        font-weight: normal;
        input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
    }
    .control--radio .control__indicator {
        border-radius: 50%;
        box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.75);
    }
    .control--checkbox .control__indicator {
        box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.75);
    }
    .control__indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background: #fff;
    }
    .control input:checked ~ .control__indicator {
        background: #3fb1e5;
    }
    .control input:checked ~ .control__indicator:after {
        display: block;
    }
    .control--radio .control__indicator:after {
        left: 7px;
        top: 7px;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background: #fff;
    }
    .control__indicator:after {
        content: '';
        position: absolute;
        display: none;
    }
    .control:hover input:not([disabled]):checked ~ .control__indicator,
    .control input:checked:focus ~ .control__indicator {
        background: #3fb1e5;
    }
    .control input:checked ~ .control__indicator:after {
        display: block;
    }
    .control--checkbox .control__indicator:after {
        left: 8px;
        top: 4px;
        width: 3px;
        height: 8px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    .control--checkbox input:disabled ~ .control__indicator:after {
        border-color: #7b7b7b;
    }
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    .inputfile + label {
        font-size: 14px;
        font-weight: 700;
        color: $white;
        background-color: $yellow;
        display: inline-block;
        transition: all ease 300ms;
    }
    
    .inputfile:focus + label,
    .inputfile + label:hover {
        background-color: transparent;
        color: $yellow;
        transition: all ease 300ms;
    }
    .inputfile + label {
        cursor: pointer; /* "hand" cursor */
    }
}

.page-students {
    .content-block {
        margin-top: -17%;
        position: relative;
        padding-top: 20%;
        background: url(/img/students/bg.png) no-repeat;
    }
    .testimonials-block {
        .py80 {
            padding-bottom: 0 !important;
        }
        .btn {
            background: $yellow;
            width: 50px;
            height: 28px;
            border-radius: 18px;
            padding: 0px;
            line-height: 16px;
            opacity: 0.5;
            transition: all ease 300ms;
            &:hover,
            &:focus,
            &:active {
                opacity: 1;
                transition: all ease 300ms;
            }
        }
        .item {
            max-height: 310px;
            overflow: hidden;
            border-radius: 35px;
        }
        .details {
            background-color: $white;
            padding: 10% 3%;
        }
        .profile-pic {
            padding: 0;
        }
    }
    .custom-slider-wrapper {
        padding-left: 10%;
    }
    .gallery-block {
        .title {
            display: inline-block;
        }
        .slick-arrow {
            display: none !important;
        }
        .btn.left img {
            transform: rotate(180deg);
        }
        .btn {
            background: $blue;
            width: 50px;
            height: 28px;
            border-radius: 18px;
            padding: 0px;
            line-height: 16px;
            opacity: 0.5;
            transition: all ease 300ms;
            &:hover,
            &:focus,
            &:active {
                opacity: 1;
                transition: all ease 300ms;
            }
        }
        .slick-list {
            padding: 0 20% 0 0;
        }
        .slick-slide {
            padding-left: 55px;
            &:first-child {
                padding: 0;
            }
            img {
                max-height: 490px;
                height: 490px;
                object-fit: cover;
                border-radius: 35px;
            }
        }
    }
}
