


@media (min-width: 320px) and (max-width: 767px) {
    // #main {
    //     padding-top: 20px;
    // }
    .for-desktop {
        display: none;
    }
    .for-mobile {
        display: block;
        .dropdown-menu  {
            background: #f2f2f2;
            display: block;
            text-align: center;
        }
    }
    .px83,
    .px180,
    .pl10p,
    .pr10p,
    .fixed .user-menu {
        padding: 0 15px !important;
    }
    .fs40 {
        font-size: 6vw !important;
    }
    p, .basic {
        font-size: 4vw !important;
    }
    .banner-block {
        text-align: center;
        padding-top: 30px;
        margin-bottom: 30px;
        img {
            margin-bottom: 30px;
        }
        video {
            margin-bottom: 30px;
            transform: translateX(-28%);
            object-fit: cover;
            height: 55vh;
        }
        .for-text {
            text-align: center;
            h2 {
                text-align:left;
                font-size: 6vw;
            }
        } 
    }
    .wrapper.px83 {
        padding: 0 !important;
    }
    .events-block {
        padding: 30px 0;
        background-image:linear-gradient(to right, #3e99d2, #3e70b1);
        .title {
            margin-bottom: 30px !important;
        }
    }
    .events-block .plant {
        display: none !important;
        .item .num {
            font-size: 60px;
        }
    } 
    .courses-block {
        padding: 30px 0;
        text-align: center;
        .title{
            text-align: left;
        }
        .container-fluid > .row > div  {
            margin-bottom: 50px;
            .title{
                text-align: center;
            }
        }
        .plane,
        .cook,
        .nurse,
        .other-service .right-content .plane {
            left: 20%;
        }
        .teacher {
            top: 20%;
            left: 30%;
        }
        .bman,
        .pan,
        .it,
        .driller {
            right: 20%;;
        }
        .stetos {
            top: -10%;
            left: 30%;
        }
        .tooth {
            left: 35%;
        }
         
    }  
    .testimonials-block {
        background: #eff1f5;
    } 
    .news-block {
        margin-top: 0;
        background-image:linear-gradient(to right, #3e99d2, #3e70b1);
        .title {
            margin-bottom: 30px !important;
        }
    }
    .news-block .news-svg {
        display: none !important;
    }
    .why-choose-block {
        .title.nblue {
            margin-bottom: 30px !important;
        }
    }
    .footer .know-more {
        padding-top: 30px !important;
        background-image:linear-gradient(#00bacf, #008db0);
        margin-top: 0;
        padding-bottom: 30% !important;
        > .row {
            margin-bottom: 30px !important;
        }
    }
    .scrollTop.scrollTop {
        bottom: 25%;
        right: 2%;
    }
    #phplive_btn_1480051776 {
        height: 60px;
        width: 60px;
        right: 2% !important;
        bottom: 0 !important;
    }

    //INNER PAGES
    .page-services {
        .title {
            text-align: center;
        }
        .content-block {
            padding: 30px 0;
            margin: 0;
            background-image:linear-gradient(#fadb5d, #f08e28);
        }
    }

    .page-about {
        .banner-block {
            text-align: center;
        }        
        .content-block {
            padding: 30px 0;
            margin: 0;
            background-image:linear-gradient(#00bacf, #008db0);
            overflow: hidden;
            .floating {
                display: none !important;
            }
        }
        .mv-block {
            padding: 30px 0;
            margin: 0;
        }
    }
    .page-about.page-about-team {
        .content-block {
            margin: 0;
            background: $white;
        }
    }
    .page-about-linkages {
        .banner-block {
            padding-top: 30px !important;
        }
        .for-image{
            display: none !important;
        }
        .linkages {
            margin-bottom: 30px;
        }
        .link-Australia {
            padding: 30px 0;
            background-image:linear-gradient(#00bacf, #008db0);
        }
        .link-Canada {
            padding: 30px 0;
            background-image:linear-gradient(#fadb5d, #f08e28);
        }
        .link-New {
            padding: 30px 0;
            background-image:linear-gradient(#ff7878, #eb5959);
        }
    } 

    .page-courses {
        .search-courses {
            background-image:linear-gradient(to right, #3e99d2, #3e70b1);
            align-items: flex-start;
            height: auto;
            padding-bottom: 30px;
            margin-bottom: 30px;
        }
        .img-papers,
        .img-book {
            display: none !important;
        }
        .search-results {
            padding-top: 30px;
            .filter .btn,
            .filter .btn.default {
                height: auto;
                min-height: 1px;
                padding: 0;
                box-shadow: none;
                line-height: 1.5;
                border: 1px solid transparent !important;
                img {
                    display: none;
                }
            }
        }
    }

    .page-destination {
        .for-text {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 30px;
            text-align: center;
        }
        .content-block {
            margin: 0;
            background-image:linear-gradient(to right, #3e99d2, #3e70b1);
        }
        .intro-block{
            padding: 30px 0;
            text-align: center;
        }
        .more-info {
            padding: 30px 0;
        }
    }

    .page-apply {
        .banner-block{
            padding-top: 30px;
            text-align: center;
        }
        .content-block {
            margin: 0;
            padding: 0;
            // background-image:linear-gradient(#ff7878, #eb5959);
        }
    }
    .page-students {
        .gallery-block {
            padding-top: 30px;
        }
    }
    .page-students.testimonials {
        .content-block {
            margin-top: 0;
            background-image:linear-gradient(to right, #3e99d2, #3e70b1);
        }
    }
    .page-students .testimonials-block.videos {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .page-contact {
        #main {
            padding: 0;
        }
        .content-block .for-banner {
            background-image:linear-gradient(#00bacf, #008db0);
            margin-bottom: 30px;
        }
        .connect-block li {
            margin: 0;
            img {
                max-width: 80%;
            }
        }

        .for-content {
            margin-top: 0;
        }

        .ph-flag {
            display: none !important;
        }
        .for-map .card-body {
            height: 100vh;
        }
    }
    .page-courses.inner {
        .search-results {
            margin-bottom: 0 !important;
        }
        .content-block {
            margin-top: 0;
            padding: 15px !important;
            background-image:linear-gradient(to right, #3e99d2, #3e70b1);
        }
    }

}

@media (min-width: 640px){    
    // .user-menu {
    //     padding: 0;
    //     img {
    //         padding-left: 8px;
    //         max-height: 50px;
    //     }
    // } 
    // .fixed .user-menu {
    //     padding: 0;
    // }
    .events-block {
        background-size: cover;
        .plant {
            display: none !important;
        }
    }
    .news-block .news-svg {
        display: none !important;
    }
    
    
    // .banner-block {
    //     display: block;
    //     .for-text {
    //         margin-top: 30px;
    //         margin-bottom: 30px;
    //         position: relative;
    //         top: auto;
    //         left: auto;
    //         text-align: center;
    //     }
    // }
    // .events-block {
    //     background-size: cover;
    //     .plant {
    //         display: none !important;
    //     }
    // }
    // .news-block .news-svg {
    //     display: none !important;
    // }
    // .courses-block {
    //     .row {
    //         margin-bottom: 30px;
    //     }
    // }
    // .news-block {
    //     background-size: cover;
    // }
    // .footer{
    //     .mb80 {
    //         margin: 0 !important;
    //     }
    //     .right-content {
    //         padding-left: 15px;
    //     }
        
    //     .footer-links li {
    //         display: inline-block;
    //         float: left;
    //         margin: 0 1%;
    //     }
    // } 
}
    
@media (min-width: 768px) and (max-width: 1199px){   
    .for-desktop {
        display: none;
    }
    .for-mobile {
        display: block;
        .dropdown-menu  {
            background: #f2f2f2;
            display: block;
            text-align: center;
        }
    }
    .px83,
    .px180,
    .pl10p,
    .pr10p,
    .fixed .user-menu {
        padding: 0 5% !important;
    }
    .wrapper.px83 {
        padding: 0 !important;
    }
    .fs40 {
        font-size: 4vw !important;
    }
    p, .basic {
        font-size: 2vw;
    }
    .banner-block {
        text-align: center;
        padding-top: 30px;
        margin-bottom: 30px;
        img {
            margin-bottom: 30px;
        }
        video {
            margin-bottom: 30px;
            transform: translateX(-15%);
            object-fit: cover;
            height: 55vh;
        }
        .for-text  {
            text-align: center;
            max-width: 100%;
        }
    } 
    .events-block {
        padding: 30px 0;
        background-image:linear-gradient(to right, #3e99d2, #3e70b1);
        .title {
            margin-bottom: 30px !important;
        }
    }
    .events-block .item {
        .num {
            font-size: 60px;
        }
        .basic {
           font-size: 16px;
       }
    }
    .courses-block {
        padding: 30px 0;
        text-align: center;
        .container-fluid > .row > div  {
            margin-bottom: 50px;
        }
        .it,
        .driller {
            right: 0;
        }
    }
    .testimonials-block {
        background: #eff1f5;
    } 
    .news-block {
        margin-top: 0;
        background-image:linear-gradient(to right, #3e99d2, #3e70b1);
        .title {
            margin-bottom: 30px !important;
        }
    }
    .footer .know-more {
        background-size: cover;
        padding-bottom: 25%;
        margin-top: -15%;
        padding-bottom: 10% !important;
        padding-top: 15% !important;
    
    }
    .scrollTop.scrollTop {
        right: 2%;
    }
    #phplive_btn_1480051776 {
        height: 60px;
        width: 60px;
        right: 2% !important;
    }

    //INNER PAGES

    .page-services {
        .banner-block {
            text-align: center;
        }
        .content-block {
            padding: 30px 0;
            margin: 0;
            background-image:linear-gradient(#fadb5d, #f08e28);
        }
    }
    .page-about {
        .banner-block {
            text-align: center;
        }
        .content-block {
            padding: 30px 0;
            margin: 0;
            background-image:linear-gradient(#00bacf, #008db0);
            overflow: hidden;
            .container-fluid {
                padding: 0 5% !important;
            }
        }
    }

    .page-about-company {

        .floating {
            display: none !important;
        }
        .mv-block {
            padding: 30px 0;
            margin: 0;
        }
    }

    .page-about.page-about-team {
        .content-block {
            margin: 0;
            background: $white;
        }
    }

    .page-about-linkages {
        .banner-block {
            padding-top: 30px !important;
        }
        .for-image{
            display: none !important;
        }
        .linkages {
            marigin-bottom: 30px;
        }
        .link-Australia {
            padding: 30px 0;
            background-image:linear-gradient(#00bacf, #008db0);
        }
        .link-Canada {
            padding: 30px 0;
            background-image:linear-gradient(#fadb5d, #f08e28);
        }
        .link-New {
            padding: 30px 0;
            background-image:linear-gradient(#ff7878, #eb5959);
        }
    } 

    .page-courses {
        .search-courses {
            background-image:linear-gradient(to right, #3e99d2, #3e70b1);
            align-items: flex-start;
            height: auto;
            padding-bottom: 30px;
            margin-bottom: 30px;
        }
        .img-papers,
        .img-book {
            display: none !important;
        }
        .search-results {
            padding-top: 30px;
            margin-bottom: 30px;
        }
        .search-courses .suggestions ul li, 
        .search-courses .vs__dropdown-menu li {
            white-space: normal;
        }
        .search-results {
            .filter .btn,
            .filter .btn.default {
                height: auto;
                min-height: 1px;
                padding: 0;
                box-shadow: none;
                line-height: 1.5;
                border: 1px solid transparent !important;
                img {
                    display: none;
                }
            }
        }
    }

    .page-destination {
        .for-text {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 30px;
            text-align: center;
            max-width: 100%;
            flex: 1;
        }
        .content-block {
            margin: 0;
            background-image:linear-gradient(to right, #3e99d2, #3e70b1);
        }
        .intro-block{
            padding: 30px 0;
            text-align: center;
        }
        .more-info {
            padding: 30px 0;
        }
    }

    .page-apply {
        .banner-block{
            text-align: center;
        }
        .content-block {
            margin: 0;
            padding: 0;
            // background-image:linear-gradient(#ff7878, #eb5959);
        }
    }
    .page-students.testimonials {
        .content-block {
            margin-top: 0;
            background-image:linear-gradient(to right, #3e99d2, #3e70b1);
        }
    }
    .page-students .testimonials-block.videos {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .page-contact {
        .ph-flag {
            display: none !important;
        }
        .for-map .card-body {
            height: 100vh;
        }
    }
    .page-courses.inner {
        .search-results {
            margin-bottom: 0 !important;
        }
        .content-block {
            margin-top: 0;
            padding: 15px !important;
            background-image:linear-gradient(to right, #3e99d2, #3e70b1);
        }
    }

}
@media (min-width: 768px) and (max-width: 1199px) and (orientation: landscape) {
    .for-desktop {
        display: block;
    }
    .for-mobile {
        display: none;
        .dropdown-menu  {
            background: #f2f2f2;
            display: block;
            text-align: center;
        }
    }
    .user-menu .px14 {
        padding: 0 7px !important;
        .nav-link {
            padding: 0;
            font-size: 14px;
        }
    }
    .banner-block {
        video {
            height: auto;
            transform: translateX(0);
        }
    }
    .events-block .item .month {
        font-size: 40px;
    }
}
    
@media (min-width: 1024px){   
    .user-menu {
        box-shadow: none; 
    }
    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) and (max-width: 1366px) {
    .px83,
    .px180,
    .pl10p,
    .pr10p,
    .px420,
    .px475 {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
    .px83.wrapper {
        padding-left: 83px !important;
        padding-right: 83px !important; 
    }
    .px83.fixed {
        padding: 0 !important;
    }
    .front .banner-block {
        margin-top: -8%;
        .for-text {
            position: absolute;
            top: 18%;
            left: 7%;
            p {
                font-size: 21px;
            }
        }
        video {
            display: flex;
            height: 100%;
        }
    }
    .user-menu {
        .navbar-brand {
            img {
                max-height: 40px;
            }
        }
        .nav-item {
            padding: 0 5px !important;
        }
        .nav-item .nav-link {
            font-size: 14px;
        }
    } 
    .fixed .user-menu{
        .nav-item {
            padding: 0 18px !important;
        }
    }
    .banner-block {
        .row > div {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .row div {
            padding: 0 1% !important;
        }
    }
    .courses-block .padded {
        background-size: 85%;
    }
    .courses-block .align-self-center {
        padding: 0 5% !important;
    }
    .courses-block .it,
    .courses-block .driller {
        right: 0;
    }
    .events-block {
        padding-top: 0;
        padding-bottom: 10%;
        .item .num {
            font-size: 44px;
        }
        .item .month {
            font-size: 36px; 
        }
        .basic {
            font-size: 21px;
        }
        .plant {
            display: block !important;
            left: 4%;
            top: 5%;
        }
    } 
    .courses-block {
        padding-top: 40px;
        .bman {
            top: 25%;
        }
    }
    .testimonials {
        iframe {
            height: auto !important;
        }
    }

    .news-block {
        margin-top: -14%;
        .news .card-title {
            font-size: 14px;
        }
        .read-more {
            font-size: 12px;
        }
    }
    .footer .know-more {
        margin-top: -10%;
        padding-bottom: 7%;
    }
    .page-about-company {

        .content-block {
            margin-top: -15%;
            overflow: hidden;
            padding-bottom: 0;
        }
        .mv-block {
            padding-top: 10%;
        }
    }
    .page-about-linkages {
        .linkages {
            background-size: contain;
        }
    }
    .page-courses {

        .img-papers {
            display: none !important;
        }
        .search-courses .img-book {
            top: -70%;
        }

        .search-courses .suggestions ul li, 
        .search-courses .vs__dropdown-menu li {
            white-space: normal;
        }

    }
    .page-courses.inner .content-block {
        padding-top: 45%;
    }
    .page-destination {
        .for-text {
            left: 0;
        }
        .banner-block {
             .row {
                >div:first-child {
                    flex: 1;
                    max-width: 100%;
                    overflow: hidden;
                    img {
                        max-width: 60%;
                        margin-right: -7%;
                    }
                }
            }
        }
        .content-block {
            margin-top: 0;
            padding-top: 10%;
            background-image:linear-gradient(to right, #3e99d2, #3e70b1);
        }
    }
    .page-students {
        .gallery-block {
            padding: 80px 0;
        }
    }
    .page-students.gallery .slider-for .slick-slide img {
        max-height: 365px;
        width: 100%;
    }
    .page-contact {
        .content-block .for-banner {
            min-height: 80vh;

            .ph-flag {
                top: -5%;
                left: 0%
            }
            .title {
                padding-left: 10%;
            }
        }
        .content-block .for-content {

        }
    }
    .page-news .content-block {
        margin-top: -12%;
        padding-top: 40%;
    }
    .page-students .testimonials-block.videos {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .page-events {
        .content-block {
            padding-top: 40%;
        }
    }
}
    
// @media (min-width: 1200px){   
//     #navbarResponsive {
//         background-color: $white;
//         // overflow: auto;
//         .nav-link {
//             // padding: 18px 0 !important;
//         }
//     } 
    
// }

@media only screen and (min-width: 1600px) {
    .px180 {
        padding-left: 180px;
        padding-right: 180px;
    }
    
    .pl20 {
        padding-left: 20px;
    }
    
    .pl83 {
        padding-left: 83px;
    }
    .pr83 {
        padding-right: 83px;
    }
    .pr35 {
        padding-right: 35px;
    }
    .pl5p {
        padding-left: 5%;
    }
    
    .pl10p {
        padding-left: 10%;
    }
    .pr10p {
        padding-right: 10%;
    }
    .pr5p {
        padding-right: 5%;
    }
    .banner-block .pt80 {
        padding-top: 80px !important;
    }
    .px420 {
        padding: 0 420px;
    }
    .px475 {
        padding-left: 475px;
        padding-right: 475px;
    }
    .front .banner-block {
        display: flex;
        margin-top: -8%;
        video {
            height: 100%;
        }
        .for-text {
            position: absolute;
            top: 30%;
            left: 10%;
            p {
                text-align: justify;
            }
            h2{
                text-align:left;
            }
        }
    }
    .events-block {
        .plant {
            display: block !important;
        }
    }
    .news-block .news-svg {
        display: block !important;
    }
    .page-contact {
        .content-block {
            .ph-flag {
                display: block !important;
            }
        }
    }
    .courses-block img {
        height: auto;
    }
    .page-about-company .content-block .plane {
        display: block !important;
    }
    .page-about-team .content-block {
        padding-top: 30%;
    }
    .page-about-linkages {
        .linkages {
            .for-image {
                right: 10%;
            }
        }
        .link-Canada {
            .for-image {
                right: 8%;  
            }
        }
    }
    .page-courses {
        .search-courses {
            .intro {
                .img-book {
                    width: auto;
                    top: -260%;
                }
            }
        }
    }
    .page-students.gallery .slider-for .slick-slide img {
        max-height: 500px;
        width: 100%;
    }
    .page-contact {
        .content-block .for-banner {
            .title {
                margin-left: 10%;
            }
        }
    }
    .footer .form .btnview-more {
        z-index: 2;
    }
}

@media only screen and (max-width: 320px) {
    .user-menu img {
        max-height: 40px;
    }
    .divider {
        width: auto;
    }
    .footer .know-more {
        padding-bottom: 45% !important;
    }
    .mag-download p {
        font-size: 12px !important;
    }
}
