/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .user-menu {
        padding: 0;
        img {
            padding-left: 8px;
            max-height: 50px;
        }
    } 
    .wrapper.px83 {
        padding: 0 !important;
    }
    .fixed .user-menu {
        padding: 0;
    }
    #navbarResponsive {
        background-color: $white;
        overflow: auto;
        .nav-link {
            padding: 18px 0 !important;
        }
    }
}

@media only screen and (max-width: 320px) {
    .divider {
        width: auto;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 1199px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) and (max-width: 1366px) {
    .user-menu {
        .navbar-brand {
            img {
                max-height: 40px;
            }
        }
        .nav-item .nav-link {
            font-size: 14px;
        }
    } 
    .banner-block {
        .row > div {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    .events-block {
        padding-bottom: 40px;
        .item .num {
            font-size: 60px;
        }
    } 
    .courses-block {
        padding-top: 40px;
    }
    .testimonials {
        iframe {
            height: auto !important;
        }
    }

    .news-block {
        margin-top: -14%;
    }
    .footer .know-more {
        margin-top: -10%;
        padding-bottom: 7%;
    }
    
}
@media only screen and (min-width: 1920px) {
    .px475 {
        padding-left: 475px;
        padding-right: 475px;
    }
    .courses-block img {
        height: auto;
    }

}
