// All your variable will be placed here.

$min-breakpoints: (
 xs : 0px,
 sm : 576px,
 md : 768px,
 lg : 992px,
 xl : 1200px,
);
$white: #fff;
$orange : #873c17;
$black: #4a4a4a;
$black__off: #333;
$green: #085e05;
$grey: #888;

//Fonts
$karla : 'Karla', sans-serif;