// All your variable will be placed here.

$min-breakpoints: (
 xs : 0px,
 sm : 576px,
 md : 768px,
 lg : 992px,
 xl : 1200px,
);
$white: #fff;
$black: #000;
$blue: #3fb1e5;
$yellow: #ffca30;
$navyblue: #243e6f;
$red: #eb5959;

//Fonts
$Quicksand : 'Quicksand', sans-serif;